{% extends 'base.html' %}

{% block content %}

<button id="promo-button">Afficher les articles en promotion</button>

<div class="row" id="article-list">
    {% for article in articles %}
    <div class="col-md-4 article-card {% if article.promotion %}promotion{% endif %}">
        <div class="card">
            <img class="card-img-top" src="{{ article.image.url }}" alt="{{ article.nom }}">
            <div class="card-body">
                <h5 class="card-title">{{ article.nom }}</h5>
                <p class="card-text">{{ article.description }}</p>
                {% if article.promotion %}
                <p class="card-text">
                    <span class="text-muted">{{ article.categorie }} - <s>{{ article.prix }} €</s></span>
                    <span class="text-danger font-weight-bold">{{ article.promo_price|floatformat:2 }} €</span>
                </p>
            {% else %}
                <p class="card-text"><span class="text-muted">{{ article.categorie }} - {{ article.prix }} €</span></p>
            {% endif %}
                {% if user.is_authenticated and user.is_staff %}
                <a href="{% url 'promotion:add_promotion' article.id %}" class="btn btn-primary">Ajouter une promotion</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script>
document.getElementById("promo-button").addEventListener("click", function() {
  var articleList = document.getElementById("article-list");
  var cards = articleList.getElementsByClassName("article-card");
  for (var i = 0; i < cards.length; i++) {
    if (!cards[i].classList.contains("promotion")) {
      cards[i].style.display = "none";
    }
  }
});
</script>

{% endblock %}
