{% extends 'base.html' %}

{% block content %}

<div class="row">
    {% for article in articles %}
    <div class="col-md-4">
        <div class="card">
            <img class="card-img-top" src="{{ article.image.url }}" alt="{{ article.nom }}">
            <div class="card-body">
                <h5 class="card-title">{{ article.nom }}</h5>
                <p class="card-text">{{ article.description }}</p>
                <p class="card-text"><small class="text-muted">{{ article.categorie }} - {{ article.prix }} €</small></p>
                {% if user.is_authenticated and user.is_staff %}
                <a href="{% url 'promotion:add_promotion' article.id %}" class="btn btn-primary">Ajouter une promotion</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}